html {
	background: black;
	color: white;
	margin-left: 20px;
}

h1 {
	font-size: 78px;
	font-family: "Sigmar One", serif;
	max-width: 1040px;
	margin-bottom: 5px;
}

.h1small {
	font-size: 50px;
	margin-top: 2px;
}

h2 {
	font-size: 30px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.description {
	font-size: 20px;
	max-width: 800px;
	margin-left: 50px;
}

button {
	color: white;
	background-color: magenta;
	padding: 20px 50px;
	border-radius: 10px;
	transition: background-color 0.1s ease; 
	border: none;
	margin: 10px;
}

button:hover {
  background-color: rgb(131, 0, 114); 
}

@media (max-width: 550px) {
	button {
		color: black;
		background-color: lime;
		margin-top: 10px;
	}

	h1 {
		font-size: 35px;
		max-width: 400px;
	}
}

@media (max-width: 750px) {
	button {
		margin: 30px;
	}

	h1{
		font-size: 45px;
	}
}