html {
	background: black;
	color: white;
	margin-left: 20px;
}

h1 {
	font-size: 78px;
	font-family: "Sigmar One", serif;
	max-width: 1040px;
}

h2 {
	font-size: 30px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

button {
	color: white;
	background-color: magenta;
	padding: 20px 50px;
	border-radius: 10px;
	transition: background-color 0.1s ease; 
	border: none;
}

button:hover {
  background-color: rgb(131, 0, 114); 
}