/* General Styles */

body {
    background-color: black;
    color: rgb(205, 205, 205);
    padding: 30px;
    font-size: 20px;
}

@font-face {
    font-family: 'Joanna-Regular';  
    src: url('assets/fonts/Joanna-Regular.ttf') format('truetype'); 
}

h1 {
    font-family: 'Joanna-Regular' ,serif;
    font-size: 15rem;
    text-align: center;
}

p {
    font-family: 'Joanna-Regular' , serif;
    font-size: 8rem;
}

::selection {
    color: white;
    text-shadow:     
        0 0 10px purple,
        0 0 10px purple,
        0 0 20px pink,
        0 0 20px pink,
        0 0 40px fuchsia,
        0 0 40px fuchsia,
        0 0 60px lightskyblue,
        0 0 60px lightskyblue;
}

.nav {
    margin-top: 30px;
    user-select: none;
    
}

.nav-link {
    background-color: rgb(85, 0, 84);
    color: black;
    padding: 30px 100px;    
    border-radius: 5px;
    margin-right: 50px;
}

.nav-link:hover {
    background-color: rgb(247, 95, 255);
    box-shadow: 0 0 10px rgb(201, 0, 212);
    box-sizing: 0 0 10px rgb(201, 0, 212);
}


/* MAIN */

.main {
    font-size: 4rem;
}

.home {
    .main {
        font-size: 8rem;
    }
}